.calc-container {
  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.calc-container h2 {
  color: black;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.calc-desc {
  color: black;
  font-size: 19px;
  margin-bottom: 5px;
}

.sci-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.display {
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 15px;
  border-width: 1px;
  border-radius: 8px;
  background: #e9eef6;
  padding-right: 15px;
  color: #222;
  outline: none;
}

.sci-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px;
  width: 700px ;
  margin: auto;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  background-color: #1f355b;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #2e4d85;
  transform: translateY(-2px);
}

.btn-num{
    background-color: #273541ff;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    }

.btn-num:hover{
    background-color: #2e4d85;
    transform: translateY(-2px);
}

.intro-section {
  background-color: #fff;
  padding: 40px 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  max-width: 900px;
  margin: 40px auto;
  line-height: 1.6;
  color: #0d1f33;
}


.intro-subtitle {
  text-align: center;
  
  color: black;
  margin-bottom: 25px;
}

.intro-content h3 {
  color: black;
  margin-top: 25px;
  font-size: 1.2rem;
}

.intro-content p {
  margin: 8px 0;
}

.intro-content ul {
  margin: 8px 0 12px 20px;
  list-style-type: disc;
}

.example {
  background-color: #f0f7ff;
  border-left: 4px solid var(--azul-marinho);
  padding: 6px 10px;
  border-radius: 6px;
  font-style: italic;
  color: black;
}

.final-note {
  margin-top: 25px;
  background: #f5f9ff;
  padding: 15px;
  border-left: 4px solid var(--azul-marinho);
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  color: black;
}

@media (max-width: 800px){
  .sci-buttons{
    margin: auto;
    width: 600px;
  }
}

@media (max-width: 700px){
  .sci-buttons{
    margin: auto;
    width: 500px;
  }
}

@media (max-width: 600px){
  .sci-buttons{
    margin: auto;
    width: 400px;
    gap: 7px;
  }
}

@media (max-width: 500px){
  .sci-buttons{
    max-width: 300px;
    gap: 5px;
    
  }
}

@media (max-width: 400px){
  .sci-buttons{
   
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 380px){
  .sci-buttons{
    gap: 1px;
    font-size: 5px;
      grid-template-columns: repeat(4, 1fr);

  }
}






